In [1]:
my_joke = "What happens to a frog's car when it breaks down? It gets toad away."

In [2]:
print my_joke

What happens to a frog's car when it breaks down? It gets toad away.

In [3]:
my_joke.upper()

"WHAT HAPPENS TO A FROG'S CAR WHEN IT BREAKS DOWN? IT GETS TOAD AWAY."

In [4]:
my_joke.count("car")

1

In [6]:
my_joke = "WHAT HAPPENS TO A FROG'S CAR WHEN IT BREAKS DOWN? IT GETS TOAD AWAY."

In [7]:
my_joke.count("car")

0

In [8]:
my_joke.count("CAR")

1

In [11]:
my_joke.isupper()

True

In [12]:
my_joke.islower()

False

In [13]:
my_joke.strip(".")

"WHAT HAPPENS TO A FROG'S CAR WHEN IT BREAKS DOWN? IT GETS TOAD AWAY"

In [14]:
import string
my_joke.translate(None, string.punctuation)

'WHAT HAPPENS TO A FROGS CAR WHEN IT BREAKS DOWN IT GETS TOAD AWAY'

In [16]:
print "Name: "
first_name = str(raw_input())
first_name.upper()

Name:
test

'TEST'

In [19]:
print "Name: "
first_name = str(raw_input())
first_name.upper()
first_name_lower = first_name.lower()
first_name.count("a")
print first_name
print first_name_lower

Name:
Justin
Justin
justin

In [22]:
print "Your name is {} {}!".format(first_name,first_name_lower)

Your name is Justin justin!

In [26]:

mad_lib = "{}! he said {} as he jumped into his convertible {} and drove off with his {} wife."

exclamation = str(raw_input("exclamation"))
adverb = str(raw_input("adverb"))
noun = str(raw_input("noun"))
adjective = str(raw_input("adjective"))

mad_lib.format(exclamation,adverb,noun,adjective)

exclamationWTF
adverbHoly Hell
nounpinto
adjectivenaked

'WTF! he said Holy Hell as he jumped into his convertible pinto and drove off with his naked wife.'

In [29]:
l = []
l.append(5)
print l

[5]

In [30]:
l.append(4)
print l

[5, 4]

In [31]:
a = ["a","b"]
l.extend(a)
print l

[5, 4, 'a', 'b']

In [35]:
my_class = [["Annie",90,90,90],["Mary",80,90,100]]
my_class = [0]
Annie = 0
my_class[Annie]
my_class[0:1]

[0]

In [36]:
l.sort()
print l

[4, 5, 'a', 'b']

In [37]:
l.reverse()
print l

['b', 'a', 5, 4]

In [39]:
print len(l)

4

In [40]:
for i in range(0,len(l)):
    print i,l[i]

0 b
1 a
2 5
3 4

In [41]:
s = "Hello World!"

In [42]:
for char in s:
    print char

H
e
l
l
o

W
o
r
l
d
!

In [48]:
my_matrix = [[1,2,3], [4,5,6], [7,8,9]]

for row in range(0,len(my_matrix)):
    print "Current Row number " , row
    for c in range(0,len(my_matrix[0])):
        print " Current Column " , c
        print "Old number in Matrix " , my_matrix[row][c]
        my_matrix[row][c] = my_matrix[row][0] + 3
        print "New number in Matrix " , my_matrix[row][c] + 3
print my_matrix

Current Row number  0
 Current Column  0
Old number in Matrix  1
New number in Matrix  7
 Current Column  1
Old number in Matrix  2
New number in Matrix  10
 Current Column  2
Old number in Matrix  3
New number in Matrix  10
Current Row number  1
 Current Column  0
Old number in Matrix  4
New number in Matrix  10
 Current Column  1
Old number in Matrix  5
New number in Matrix  13
 Current Column  2
Old number in Matrix  6
New number in Matrix  13
Current Row number  2
 Current Column  0
Old number in Matrix  7
New number in Matrix  13
 Current Column  1
Old number in Matrix  8
New number in Matrix  16
 Current Column  2
Old number in Matrix  9
New number in Matrix  16
[[4, 7, 7], [7, 10, 10], [10, 13, 13]]